name: CI

on: [push,repository_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v1
      - uses: xu-cheng/latex-action@v2
        with:
          root_file: |
            resume.tex
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
            name: static
            path: resume.pdf
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          repository: tcheinen/tcheinen.github.io
          event-type: rebuild
